
#container .row #age-matches #template-matches .col.s6 .card .card-title {
    color: black;
    margin:20px;
}



#container h2{
    text-align: center;
    font-size: 2rem;
}

#container #age-links .start-message{
    padding-left: 15px;
}

#container #sex-links .start-message{
    padding-left: 15px;
}

#container #year-links .start-message{
    padding-left: 15px;
}