<!DOCTYPE html>
<html>
<head>
    <title>Officer Killings</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div id="container">
    <h2>Find victims of officer involved killings in the United States of America</h2>
    <div id="age-links">
        <span class="start-message">Choose age</span>
        <a href="#" data-age="20" >20</a> /
        <a href="#" data-age="25" >25</a> /
        <a href="#" data-age="30" >30</a> /
        <a href="#" data-age="35" >35</a> /
        <a href="#" data-age="40" >40</a>
    </div>
    <div id="sex-links">
        <span class="start-message">Choose sex</span>
        <a href="#" data-sex="Male" >Male</a> /
        <a href="#" data-sex="Female" >Female</a>
    </div>

    <div id="year-links">
        <span class="start-message">Choose year</span>
        <a href="#" data-year="2015" >2015</a> /
        <a href="#" data-year="2016" >2016</a> (<--Start here and move your way up!)
    </div>

    <div class="row">
        <div id="age-matches">
            <script id="template-error" type="text/template">
                <span class="error"><%= message %></span>
            </script>
            <script id="template-matches" type="text/template">
                <% _.each(killings, function(killing, index, list){ %>
        <div class="col s6 ">
            <div class="card">
                    <span class="card-title"><%= killing.get('name')  %></span>
                <div class="card-content">
                    <p>Age: <%= killing.get('age') %></p>
                    <p>City: <%= killing.get('city') %></p>
                    <p>Cause: <%= killing.get('cause') %></p>
                    <p>By department: <%= killing.get('dept') %></p>
                </div>
                <div class="card-action">
                    <a href="https://thecountedapi.com/">Visit API</a>
                </div>
            </div>
        </div>
                <% }); %>
            </script>
    </div>
</div>
    <div class="row">
        <div id="sex-matches">
            <script id="template-error-sex" type="text/template">
                <span class="error"><%= message %></span>
            </script>
            <script id="template-matches-sex" type="text/template">
                <% _.each(killings, function(killing, index, list){ %>
                <div class="col s6">
                    <div class="card">
                        <span class="card-title"><%= killing.get('name')  %></span>
                        <div class="card-content">
                            <p>Age: <%= killing.get('age') %></p>
                            <p>City: <%= killing.get('city') %></p>
                            <p>Cause: <%= killing.get('cause') %></p>
                            <p>By department: <%= killing.get('dept') %></p>
                        </div>
                        <div class="card-action">
                            <a href="https://thecountedapi.com/">Visit API</a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </script>
        </div>
    </div>

    <div class="row">
        <div id="year-matches">
            <script id="template-error-year" type="text/template">
                <span class="error"><%= message %></span>
            </script>
            <script id="template-matches-year" type="text/template">
                <% _.each(killings, function(killing, index, list){ %>
                <div class="col s6">
                    <div class="card">
                        <span class="card-title"><%= killing.get('name')  %></span>
                        <div class="card-content">
                            <p>Age: <%= killing.get('age') %></p>
                            <p>City: <%= killing.get('city') %></p>
                            <p>Cause: <%= killing.get('cause') %></p>
                            <p>By department: <%= killing.get('dept') %></p>
                        </div>
                        <div class="card-action">
                            <a href="https://thecountedapi.com/">Visit API</a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </script>
        </div>
    </div>
</div>

<script src="dist/bundle.js" type="text/javascript"></script>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="src/materialize.min.js"></script>

</body>
</html>
